# ==============================
# Python / Django
# ==============================
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Django static & media
static/
staticfiles/
media/

yolov8n.pt
yolov8s.pt
yolov8m.pt

# Virtual environment
venv/
env/
ENV/

# Local settings
*.env
.env
.env.local
.env.production
.env.development

# Compiled files
*.mo
